/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 * Animation inspired by: https://www.w3schools.com/css/css3_animations.asp
**/

@keyframes colorsTransform {
  from {
    background-color: green;
  }

  to {
    background-color: pink;
  }
}

body{
  text-align: center;
}

.chChanges {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: colorsTransform;
  animation-duration: 4s;
}
